<!--
# templates/addclasses.html
# Page that displays form to add a new class
# Version 2.2
# Authors: Emma Carton, Lupe Fernandez-Nunez
# Dependencies: base.html
-->
{% extends 'base.html' %}
{% block title %}
    <title>Course Addition - OnTime Management</title>
    <style type="text/css">
        p {
            font-family: Verdana, Geneva, sans-serif;
            padding-bottom: 1px;
            padding-left: 5px;
            text-align: center;
        }

        fieldset {
            font-family: Verdana, Geneva, sans-serif;
            display: block;
        }

        h3 {
            font-family: Verdana, Geneva, sans-serif;
            text-align: center;
        }

        h5 {
            font-family: Verdana, Geneva, sans-serif;
            text-align: center;
        }

        input[type=submit] {
            background-color: darkblue;
            border: none;
            color: white;
            padding: 14px 28px;
            margin: 4px 2px;
            cursor: pointer;
            font-size: 15px;
            border-radius: 25px;
        }

        body {
            background: linear-gradient(to right, #ccffff 0%, #ffffcc 100%);
            text-align: center;
        }

        form {
            font-family: Verdana, Geneva, sans-serif;
            display: inline-block;
        }

        .field_wrapper {
            padding: 3px 3px 3px 3px;
        }
    </style>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <h3>
            Course Addition for {{ user.username }}
        </h3>
        <p align="center">
            <button type="button" onclick="window.location.href='/'">View Calendar</button>
            <button type="button" onclick="window.location.href='/mycalendar/classlist'">View Classes</button>
            <button type="button" onclick="window.location.href='{%  url 'logout' %}'">Logout</button>
        </p>
        <p>
            Enter the prompted information to add your course to your OnTime schedule.
        </p>
        <form method='POST' action="">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.as_p }}

            <input type="submit" value="Submit">
        </form>
    {% else %}
        <p>You are not logged in. Please click below to login.</p>
        <button onclick="window.location.href='{% url 'login' %}'">Login</button>
        <button onclick="window.location.href='/accounts/signup'">Sign Up</button>
    {% endif %}
{% endblock %}